.App{
    width: 100%;
    background-color: #212121;
    display: flex;
}
.left{
    width: 19.99999%;
    position: relative;
    height: 100%;
    background-color: #1e1e1e;
    z-index: 1222;
}
.fintech{
    position: absolute;
    left: 40px;
    top:48px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #ffffff;
    }
    .home{
        width: 46px;
        height: 16px;
        position: absolute;
        left: 80px;
        top: 150px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #87888C;
        cursor: pointer;
    }
    .iconHome{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 40px;
        top: 152px;
        cursor: pointer;
    }
    .homelineIcon{
        width: 20px;
        height: 19px;
        position: absolute;
        left: 8.33%;
        right: 8.33%;
        bottom: 12.5%;
        color: #87888C;
    }
    .profile{
        width: 49px;
        height: 16px;
        position: absolute;
        left: 80px;
        top: 348px;
        font-family: "Inter";
        font-style:normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #f7f7f7;
        cursor: pointer;
    }
    .profileIcon{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 42px;
        top: 344px;
        cursor: pointer;
    }
    .profilprofileIconelineIcon{
        position: absolute;
        left: 12.5%;
        right: 12.5%;
        top: 8.3%;
        bottom: 8.3%;
    }

    .rightSection{
        width: 89.99999%;
        background-color: #212121;

    }